.wrapper {
  opacity: 1;
  transition: visibility 0s, opacity 0.25s ease-in;
}

.wrapper:not(.open){
  visibility: hidden;
}

.modal{
  position: absolute;
  width: 70%;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.modal img{
  width: 50%;
}
.overlay{
  background: rgba(0,0,0,0.8);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.close{
  position: absolute;
  right: 15px;
  top: 0px;
  padding: 5px;
  z-index: 700;
}

.loader{
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 40%;
  top: 30%;
  animation: spin 2s linear infinite; 
}

.loader.close{
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg)}
}